//extends layout

block content

  - var AbstractText = "The Up and Down Golf Putting Aid is a platform that serves as a personal putting coach.  Through appending a sensor at the putter head, data is extracted from a user's putting motion and sent to a processing unit via Bluetooth Low Energy (BLE) where various sensor fusion algorithms are performed. Upon its completion, the processed data is pushed to the cloud, where the front-end can retrieve the processed data, display a scaled animation of the putt, and present various metrics, which include, but are not limited to the user's putting tempo and stroke type."

  // title
  h3.center Abstract

  // abstract framework
  mixin abstractFormat(text)
    p#abst #{text}

  +abstractFormat(AbstractText)


  //mixin abstractFormat(name, price)
  //  p#abst #{name} #{price} €
  //+abstractFormat("blank: ", 5.99)
