//extends layout

block content

  - var Par1 = "The Up and Down Golf Putting Aid is a platform designed to perform analyses on one's putting motion. In opposition to existing swing analyzer product implementations, which tend to place sensors at either the ''butt'' of the golf club, the shaft of the golf club, or the glove of the golfer, the Up and Down Golf Putting aid appends sensors to the head of the putter in order to extract data that more accurately reflects the subtle movements that occer throughout the duration of one's putt.  Architecturally, the data is collected by a gyroscope and accelerometer and relayed via Bluetooth Low Energy (BLE) to a processing unit, which performs various sensor fusion and filtering algorithms on the data.  This processed data is ultimately sent to the cloud, where it can be visualized by the front-end"

  // title
  h3.center Abstract

  // abstract framework
  mixin abstractFormat(paragraph1)
    p.par #{paragraph1}
    div.outerimg
        img(src='/images/prototype.png')

  +abstractFormat(Par1)

