//extends layout

block content


  - var Par1 = "The Up and Down Putting Aid serves as a prototype for analyzing one's putting motion.  During the prototype's implementation, the biggest challenge involved the signal processing and animation components.  Both of these components were conquered at a rudimentary level, and more detail in regards to extending these components is discussed in the Future Works section.  Overall, the project encompassed all elements of the ''Internet of Things'' stack, and for the time being, a working platform has been presented."

  // title
  h3.center Conclusion

  // abstract framework
  mixin Format(paragraph1)
    p.par #{paragraph1}

  +Format(Par1)



