//extends layout

block content

    h1#title Documentation
    h4.center John Grossmann (CE '16)
    h4.center Peter Burrows (CE '15)

    br

    h3.center Table of Contents
    h4.center
      a.blue(href='/documentation/#abstract') Abstract
    h4.center
      a.blue(href='/documentation/#intro') Introduction
    h4.center
      a.blue(href='/documentation/#overview') Overview
    h4.center
      a.blue(href='/documentation/#stateoftheart') State of the Art
    h4.center
      a.blue(href='/documentation/#detailed_description') Detailed Description
    h4.center
      a.blue(href='/documentation/#results') Results
    h4.center
      a.blue(href='/documentation/#futurework') Future Work
    h4.center
      a.blue(href='/documentation/#conclusion') Conclusion
    h4.center
      a.blue(href='/documentation/#references') References
    h4.center
      a.blue(href='/documentation/#resources') Appendix A: Tools & Resources
    h4.center
      a.blue(href='/documentation/#software') Appendix B: SW Git
    h4.center
      a.blue(href='/documentation/#stateoftheart') Appendix C: Project Repitition Details

    br


    //mixin abstractFormat(name, price)
    //  p#abst #{name} #{price} €
    //+abstractFormat("blank: ", 5.99)
