//extends layout

block content


  // title
  h3.center References


  p.par Golf Stats
  p.indent
    a.blue(href='http://www.pgatour.com/stats/stat.119.html') PGA Lowest Putts Per Round
  p.indent
    a.blue(href='http://www.pgatour.com/stats/stat.120.html') PGA Lowest Scoring Averages

  p.par Gravity and Kalman Filtering 
  p.indent
    a.blue(href='http://www.google.com') Insert Here
