//extends layout

block content


  // title
  h3.center References


  p.par Golf Stats
  p.indent
    a.blue(href='http://www.pgatour.com/stats/stat.119.html') PGA Lowest Putts Per Round
  p.indent
    a.blue(href='http://www.pgatour.com/stats/stat.120.html') PGA Lowest Scoring Averages

  p.par Kalman Filtering / Orientation
  p.indent
    a.blue(href='http://blog.tkjelectronics.dk/2012/09/a-practical-approach-to-kalman-filter-and-how-to-implement-it/') A practical approach to kalman filter and how to implement it
  p.indent
    a.blue(href='http://dx.doi.org/10.1007/978-3-319-06773-5_41') Implementing a Sensor Fusion Algorithm for 3D Orientation Detection With Inertial/Magnetic Sensors
  p.indent
    a.blue(href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CB8QFjAAahUKEwj1s_7--Y3HAhXEOD4KHUVrCls&url=https%3A%2F%2Fgentlenav.googlecode.com%2Ffiles%2FDCMDraft2.pdf&ei=-Om_VfXXLMTx-AHF1qnYBQ&usg=AFQjCNFd94N3cdq67qbwEvZZ-S2Rn5hhzw&bvm=bv.99261572,d.cWw') Direction Cosine Matrix IMU: Theory
  p.indent
    a.blue(href='http://cache.freescale.com/files/sensors/doc/app_note/AN5087.pdf') Allan Variance: Noise Analysis for Gyroscopes

  p.par Gravity filtering
  p.indent
    a.blue(href='http://developer.android.com/reference/android/hardware/SensorEvent.html#values') Sensor Event
