//extends layout

block content


  - var Par1 = "The details for repeating the project are summed up, as follows:"
  

  // title
  h3.center Appendix C: Project Repetition Details

  // abstract framework
  mixin Format(paragraph1)
    p.par #{paragraph1}
    p.par
        p.indent 1. Download the git repo
        p.indent 2. Change the Parse keys in sense.py and appclient.js 
        p.indent 3. Update the Wiced Sense firmware with the firmware provided
        p.indent 4. Retrieve the Wiced Sense's MAC address
        p.indent 5. Run the following on the RaspberryPi command line:
            div.outerimg 
                p.indent For calibration -> sense.py MACaddress true
            div.outerimg 
                p.indent For Putt recording -> sense.py MACaddress
        p.indent 6. Push ''Connect to Wiced Sense'' button on front end
        p.indent 7. Putt and the results can be viewed on the webpage

  +Format(Par1)



