 //extends layout

block content


  // title
  h3.center Appendix A: Tools & Resources

  p.par Wiced Sense Firmware Forums and Specs
  p.indent
    a.blue(href='http://www.google.com') Insert Here

  p.par Animation
  p.indent
    a.blue(href='http://www.w3schools.com/html/html5_canvas.asp') Canvas Tutorial
  p.indent
    a.blue(href='http://www.arc.id.au/Canvas3DManual.html') Cango 3D User Manual

  p.par Node.js and Jade
  p.indent
    a.blue(href='http://www.google.com') Insert Here

  p.par Python, Numpy.py, and Tkinter (for plotting)
  p.indent
    a.blue(href='http://www.google.com') Insert Here
