//extends layout


 
      // title
      h3.center Results

      h4.center Putt Data Samples:
      div.outerimg
        img(id='add-razaoSocial', class='input-img', src='/images/acceldata.png')
        br
        br
        img(id='add-razaoSocial', class='input-img', src='/images/gyrodata.png')
      h4.center Simulated Putt Data used for the
        a.blue(href='/sampleputt') Sample Putt Animation:
      div.outerimg
        img(id='add-razaoSocial', class='input-img', src='/images/simulatedPuttTranslation.png')
        br
        br
        img(id='add-razaoSocial', class='input-img', src='/images/simulatedPuttGyro.png')



