// documentation.jade
extends layout
block content


    div#project-info
      include ./includes/documentationtitle.jade
    
    br
    div#abstract
      include ./includes/abstract.jade

    br
    div#intro
      include ./includes/intro.jade

    br
    div#overview
      include ./includes/overview.jade

    br
    div#stateoftheart
      include ./includes/stateoftheart.jade

    br
    div#detailed_description
      include ./includes/detailed_description.jade
    //img#label(id='add-razaoSocial', class='input-img', src='/images/simulatedPuttGyro.png')


