extends layout

block content
  div#navbar2
    ul(class='nav nav-pills')
        li
            a(href='/documentation/#video') Video
        li
            a(href='/documentation/#abstract') Abstract
        li
            a(href='/documentation/#overview') Overview
        li
            a(href='/documentation/#stateoftheart') State of the Art
        li
            a(href='/documentation/#stateoftheart') Detailed Description
        li
            a(href='/documentation/#stateoftheart') Results
        li
            a(href='/documentation/#stateoftheart') Future Work
        li
            a(href='/documentation/#stateoftheart') Conclusion
        li
            a(href='/documentation/#stateoftheart') References
        li
            a(href='/documentation/#stateoftheart') Appendix A: Tools and resources used
        li
            a(href='/documentation/#stateoftheart') Appendix B: Decription of SW, github link to SW
        li
            a(href='/documentation/#stateoftheart') Appendix C: Detailed description to facilitate reptetition of the project

  div#project-info
    h3#title Up and Down Golf
    h4 John Grossmann and Peter Burrows

    h4#video Video
    p#asd asdas
    h4#abstract Abstract
    p#description IOT Golf Putting aid.
    h4#Introduction



