extends layout

block content
    div#project-info
        h3#title Sample Putt Animation
        //p#description IOT Golf Putting aid.
        br
        br
        canvas(id="samplePuttCanvas", width="", height="")
        br
        br
        br
        div.outerimg
          img#label(id='add-razaoSocial', class='input-img', src='/images/simulatedPuttTranslation.png')
        br
        br
        div.outerimg
          img#label(id='add-razaoSocial', class='input-img', src='/images/simulatedPuttGyro.png')

    
    


                    
